<mat-sidenav-container class="example-container">


  <mat-sidenav #sidenav class="side" mode="side" [(opened)]="opened">

    <div class="container-fluid">

      <mat-list class="navbar">
        <a style="color: black" href="/list">
          <mat-list-item class="item1">See customers</mat-list-item>
        </a>

        <a style="color: black" href="/employees">
          <mat-list-item class="item2">Our employees</mat-list-item>
        </a>

        <a style="color: black" href="/reservations">
          <mat-list-item class="item3">Make a reservation</mat-list-item>
        </a>

        <a style="color: black" href="/myreservations">
          <mat-list-item class="item4"><span class="users-btn">My reservations</span>
          </mat-list-item>
        </a>

      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content">

    <p>
      <button mat-button class="btn1" (click)="sidenav.toggle()">
        <mat-icon class="icon1">menu</mat-icon>
      </button>
    </p>

    <div class="h2"><h2><strong>Reservations</strong></h2></div>
    <table class="table">
      <thead>

      <tr>
        <th></th>
        <th></th>
      </tr>

      </thead>

      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id }}</td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td><button mat-button>Rate</button></td>

      </tr>

      </tbody>

    </table>

  </mat-sidenav-content>

</mat-sidenav-container>
