.example-container {
  height: 100%;
}

.side {
  width: 250px;
  height: auto;
}

.icon1 {
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.content {
  height: 100%;
  margin: auto;
}

.h2 {
  text-align: center;
}

.back-btn {
  background-color: #263238;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  margin: 20px;
}

.back-btn:hover {
  background-color: #485C73;
}

.table {
  padding: 40px;
}

.f1 {
  padding: 40px;
}

.f2 {
  padding: 40px;
}

.div1 {
  padding: 40px;
}

.btn-cancel:hover {
  color: crimson;
}

.pre {
  font-size: 17px;
}

.div2:hover {
  color: crimson;
}

.btn {
  background-color: #263238;
  color: white;
}

.btn:hover {
  background-color: #485C73;
  color: white;
}

.btn1 {
  border: 0px;
  outline: 0px;
  color: #263238;
}

.btn1:hover {
  background-color: ghostwhite;
  color: crimson;
}

.btn2 {
  background-color: crimson;
  color: white;
}

.btn2:hover {
  background-color: red;
}

.style1 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}
