<mat-sidenav-container class="example-container">


  <mat-sidenav #sidenav class="side" mode="side" [(opened)]="opened">

    <div class="container-fluid">

      <mat-list class="navbar">
        <a style="color: black" href="/list">
          <mat-list-item class="item1">Show customers</mat-list-item>
        </a>

        <a style="color: black" href="/employees">
          <mat-list-item class="item2">Show employees</mat-list-item>
        </a>

        <a style="color: black" href="/reservations">
          <mat-list-item class="item3">Make a reservation</mat-list-item>
        </a>

        <a style="color: black" href="/myreservations">
          <mat-list-item class="item4"><span class="users-btn">My reservations</span>
          </mat-list-item>
        </a>

      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content">

    <p>
      <button mat-button class="btn1" (click)="sidenav.toggle()">
        <mat-icon class="icon1">menu</mat-icon>
      </button>
    </p>

    <div class="h2"><h2><strong>Reservations</strong></h2></div>

    <div class="div1"><strong>Previous Reservations</strong></div>
    <table class="table">
      <thead>

      <tr>
        <th>ID</th>
        &nbsp;
        &nbsp;
        &nbsp;
        <th>Details</th>
        &nbsp;
        &nbsp;
        <th>Rate</th>
        &nbsp;
        &nbsp;
        <th>Cancel reservation</th>

      </tr>

      </thead>

      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td><b>{{ reservation.room_reservationId }}</b></td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td>{{ reservation.reservation_details }}</td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td><button mat-button (click)="toggle(reservation)"><i class="material-icons">
          rate_review
        </i></button></td>
        &nbsp;
        &nbsp;
        &nbsp;
        <td><button mat-button class="btn-cancel" (click)="cancelRes(reservation)"><i class="material-icons">
          cancel_presentation
        </i></button></td>

      </tr>

      </tbody>
    </table>



      <form class="f1" (ngSubmit)="setRating()">
        <ng-container *ngIf="showVar"><p style="text-decoration: underline"><i>Enter rating for <strong>{{selectedRes.room.roomNumber}}</strong></i></p>
      <br/>
      <mat-form-field><input [(ngModel)]="rating.rating" name="rating" id="rating" matInput="number"  placeholder="Rate (0-5)"/></mat-form-field>
          <br/>
      <mat-form-field><input [(ngModel)]="rating.comments" name="comments" id="comments" matInput="text" placeholder="Enter your comments" /></mat-form-field>
          <br/>
      <button mat-button type="submit">Submit</button>
      <button mat-button style="background-color: crimson; color: navajowhite" (click)="showVar = false">Cancel</button>
        </ng-container>
      </form>



    <br/>
    <br/>

    <a style="color: black" href="http://localhost:4200/profile">
      <button mat-raised-button class="back-btn">Go back to profile</button>
    </a>

  </mat-sidenav-content>

</mat-sidenav-container>
