<div class="rooms" *ngIf = "showMePartially">


  <table class="table">
    <thead>

    <tr>
      <th>Room</th>
      <th></th>
      <th>Available</th>
    </tr>

    </thead>

    <tbody>
  <tr *ngFor="let room of rooms">
    <td>{{room.roomNumber}}</td>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <td>{{room.availability}}</td>
    &nbsp;
    &nbsp;
    &nbsp;
    <td><input type="button" value="Select" (click) = "roomSelected(room)" /></td>

  </tr>

  </tbody>

  </table>
  <mat-card class="card">
    <mat-card-title>Reservation Summary</mat-card-title>
  <pre class="pre"> <div class="inside"><strong>{{this.selectedRoom | jsonprint }}</strong></div></pre>
  </mat-card>
</div>
