<div class="rooms" *ngIf = "showMePartially">


  <table class="table">
    <thead>

    <tr>
      <th>Room</th>
      <th></th>
      <th>Available</th>
    </tr>

    </thead>

    <tbody>
  <tr *ngFor="let room of rooms">
    <td>{{room.roomNumber}}</td>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <td>{{room.availability}}</td>
    <td><input type="button" value="Select" (click) = "roomSelected(room)" /></td>

  </tr>

  </tbody>
  </table>
<strong><div [innerHTML]="this.selectedRoom | jsonprint"></div></strong>
</div>
