<mat-sidenav-container class="example-container">


  <mat-sidenav class="side" mode="side" [(opened)]="opened">

    <div class="container-fluid">

      <mat-list class="navbar">
        <a style="color: black" href="/list"><mat-list-item class="item1">See customers</mat-list-item></a>

        <a style="color: black" href="/employees"> <mat-list-item class="item2">Our employees</mat-list-item></a>

        <a style="color: black" href="/reservations"> <mat-list-item class="item3">Make a reservation</mat-list-item></a>

      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="btn-top-right">

      <a style="color: black" href="/">
        <button mat-button class="logout-btn" (click)="logOut()">Log out</button>
      </a>
    </div>

    <p>
      <mat-checkbox [(ngModel)]="opened">Sidenav opened</mat-checkbox>
    </p>

    <header class="jumbotron my-4">
      <h1 class="h1"> User's Profile </h1>
      <p class="lead"> Welcome to your profile, <strong> {{currentUser.username}} </strong> .</p>
      <div class="row">
      </div>
    </header>

  </mat-sidenav-content>


</mat-sidenav-container>
