body { padding: 0em; }

.h1 {
  text-align: center;
}
.lead {
  text-align: center;
}

.a {
  color: black;
  text-decoration: none;
}
.a:link:active {
  text-decoration: none;
}

.logout-btn {
  color: black;
  font-family: Calibri, sans-serif;
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  width: 120px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}


.users-btn {
  color: black;
  text-decoration: none;
  font-family: Calibri, sans-serif;
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  width: 120px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(navajowhite, black);
}
