<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li> <a style="color: black" href="/list"><span class="users-btn">Users List</span></a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li> <a style="color: black" href="/"><span class="logout-btn"(click)="logOut()">Log out</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <header class="jumbotron my-4">
    <h1 class="h1"> User's Profile </h1>
    <p class="lead"> Welcome to your profile, <strong> {{currentUser.username}} </strong> </p>
    <div class="row">

    </div>
  </header>

</div>

