<mat-sidenav-container class="example-container">


  <mat-sidenav #sidenav class="side" mode="side" [(opened)]="opened">

    <div class="container-fluid">

      <mat-list class="navbar">
        <a style="color: black" href="/list">
          <mat-list-item class="item1">See customers</mat-list-item>
        </a>

        <a style="color: black" href="/employees">
          <mat-list-item class="item2">Our employees</mat-list-item>
        </a>

        <a style="color: black" href="/reservations">
          <mat-list-item class="item3">Make a reservation</mat-list-item>
        </a>

      </mat-list>
    </div>

  </mat-sidenav>


  <mat-sidenav-content class="content">

    <p>
      <button mat-button class="btn1" (click)="sidenav.toggle()">
        <mat-icon class="icon1">menu</mat-icon>
      </button>
    </p>
    <div class="form0">
      <h4>Guest Info</h4>
    <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <mat-form-field class="f0">

        <mat-label for="Last name">Last name</mat-label>
        <input matInput placeholder="Enter Last name" type="text" class="form-control" id="lastname" name="lastname"
               [(ngModel)]="user.lastname" #lastname="ngModel" required/>
        <div *ngIf="f.submitted" class="help-block">Last name is required</div>
      </mat-form-field>
      &nbsp;
      &nbsp;
      &nbsp;
      <mat-form-field class="f1">

        <mat-label for="First name">First name</mat-label>
        <input matInput placeholder="Enter First name" type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user.firstname" #firstname="ngModel" required />
        <div *ngIf="f.submitted" class="help-block">First name is required</div>
      </mat-form-field>


      <h4>Hotels / Room types</h4>
      <mat-form-field>
        <mat-label>Choose a hotel</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="hotel">
          <mat-option>
            -
          </mat-option>
          <mat-option *ngFor="let hotel of hotels" value="Hotel 1">
            {{hotel.hotelName}}
          </mat-option>

        </mat-select>
      </mat-form-field>
&nbsp;
&nbsp;
&nbsp;
      <mat-form-field>
        <mat-label>Choose room type</mat-label>
        <mat-select [(ngModel)]="selectedValue2" name="roomtype">
          <mat-option>
            -
          </mat-option>
          <!--          <mat-option *ngFor="let roomtype of roomtypes" [value]="roomtypes">-->
          <!--            {{roomtype}}-->
          <!--          </mat-option>-->
          <mat-option value="Single Room">Single Room</mat-option>
          <mat-option value="Double Room">Double Room</mat-option>
          <mat-option value="Family Room">Family Room</mat-option>
          <mat-option value="Suite">Suite</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    </div>

    <div class="datepicker">
      <p><strong>Select Dates:</strong></p>

      <aa-animatepicker class="date"
                        [options]="datepickerOptions"
                        [(selectedDates)]="dates"></aa-animatepicker>
      <button mat-raised-button class="btn3" (click)="toggleChild()">Show available rooms</button>
    </div>

    <div>
      <app-availableroom [showMePartially]="showVar"></app-availableroom>
    </div>

    <a style="color: black" href="http://localhost:4200/rooms">
      <button mat-raised-button class="btn">Complete reservation</button>
    </a>


    <a style="color: black" href="http://localhost:4200/profile">
      <button mat-raised-button class="btn2">Cancel</button>
    </a>
  </mat-sidenav-content>


</mat-sidenav-container>
