body, html {
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
.example-container {
  height: 100%;
}
.content {
  height: 100%;
  margin: auto;
}

.icon1 {
  width: 50px;
  height: 50px;
  font-size: 40px;
}
.form0 {
  padding: 20px;
}

.form {
  padding: 20px;
  display: inline-block;

}

.rooms {

}
.datepicker {
  padding: 20px;
}

.item1:hover {
  background-color: lightgray;
}
.item2:hover {
  background-color: lightgray;
}
.item3:hover {
  background-color: lightgray;
}

.side {
  width: 250px;
  height: auto;
}

.example-container {
  height: 100%;
}

.a {
  color: black;
  text-decoration: none;
}
.a:link:active {
  text-decoration: none;
}

.btn {
  background-color: black;
  color: navajowhite;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  left: 20%;
  top: 60px;

}

.btn2 {
  background-color: crimson;
  color: navajowhite;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  width: 100px;
  left: 25%;
  top: 60px;
}

.btn3 {
  margin: 20px;

}

.btn:hover {
  background-color: crimson;
}

.date {
  padding: 50px;
}

