.example-container {
  height: 100%;
}

.side {
  width: 250px;
  height: auto;
}

.icon1 {
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.content {
  height: 100%;
  margin: auto;
}

.div2:hover {
  color: crimson;
}

.btn1:hover {
  color: crimson;
}
