.example-container {
  height: 100%;
}

.side {
  width: 250px;
  height: auto;
}

.icon1 {
  width: 50px;
  height: 50px;
  font-size: 40px;
}

.content {
  height: 100%;
  margin: auto;
}

.div2:hover {
  color: crimson;
}

.btn.btn1 {
  border: 0px;
  outline: 0px;
}

.btn1:hover {
  color: crimson;
}

.back-btn {
  background-color: #263238;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  margin: 20px;
}

.back-btn:hover {
  background-color: #485C73;
}
