.tb {
  background-color: black;
}
.spacer {
  flex: 1 1 auto;
}

.txt2 {
  text-decoration: none;
  color: navajowhite;
  font-size: 25px;
}
.mat-icon {
  color: navajowhite;
}

.icon0:hover {
  background-color: crimson;
}

.mat-icon-button:hover {
  background-color: crimson;
}

.icon1, .icon2, .icon3 {
  color: black;
}
