.tb {
  background-color: black;
}
.spacer {
  flex: 1 1 auto;
}

.txt2 {
  text-decoration: none;
  color: navajowhite;
  font-size: 25px;
}
.mat-icon {
  color: white;
}
.icon0:hover {
  background-color: crimson;
}

.mat-icon-button:hover {
  background-color: crimson;
}

.user {
  color: white;
}
.btn {
  color: white;
}

.btn:hover {
  color: crimson;
}

.btn1:hover {
  text-decoration: none;
}

.div3:hover {
  color: crimson;
}

.btn3:hover {
  text-decoration: none;
}

.icons {
  background-color: #263238;
  color: white;
}
.icons {
  color: white;
}

.mat-menu-item:hover {
  background-color: #263238;
  color: crimson;
}
