<!DOCTYPE html>
<html lang="en">
<head>
  <title>My App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Booking System</h1>
  <p>Welcome !</p>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/homepage"><mat-icon><div class="div3">home</div></mat-icon></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="/about"><div class="div3">About Us</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/employees"><div class="div3">Our Employees</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white" href="/contact"><div class="div3">Contact</div></a>
      </li>
    </ul>
  </div>
  <a href="/login"><button class="icon-btn" mat-icon-button><mat-icon>person</mat-icon></button></a>
  <button class="icon-btn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon class="icon1">dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon class="icon2">voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon class="icon3">notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="user">
    <div class="div3"><button class="btn" mat-button (click)="toggle()" [matMenuTriggerFor]="menu1">{{this.var.username}}<ng-container *ngIf="this.showVar"><mat-icon>expand_more</mat-icon></ng-container></button></div>

    <mat-menu #menu1="matMenu">
      <a style="text-decoration: none;" href="/profile"><button mat-menu-item>
        <mat-icon style="color: #263238">ballot</mat-icon>
        <span>Show profile</span>
      </button></a>
      <button mat-menu-item>
        <mat-icon style="color: #263238;">settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon style="color: #263238">exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</nav>
<div style="background-color: #323941; color: white; text-align: center;">{{now | date:'fullDate'}} {{now | date:'h:mm a'}}</div>
<router-outlet></router-outlet>
